<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<h4>View Employee</h4>
<div class="info-container">
    <div >
        <label>
            Employee Id:<b>{{employee.id}}</b>
        </label>
    </div>
    <div >
        <label>
            First Name:<b>{{employee.firstName}}</b>
        </label>
    </div>
    <div>
        <label>
            Last Name:<b>{{employee.lastName}}</b>
        </label>
    </div>
    <div>
        <label>
            Salary :<b>{{employee.salary}}</b>
        </label>
    </div>
</div>
</body>
</html>